################################################################
# vim and shell
################################################################
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
[submodule "vim/.vim/bundle/tabline.vim"]
	path = vim/.vim/bundle/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
	branch = master
[submodule "vim/.vim/bundle/vim-plugin-AnsiEsc"]
	path = vim/.vim/bundle/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
	branch = master
[submodule "vim/.vim/bundle/vim-solarized8"]
	path = vim/.vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
	branch = master
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k

################################################################
# vim - NO LONGER local repos
################################################################
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/alexconst/vim-markdown
	branch = feat/toc_location
[submodule "vim/.vim/bundle/vim-pajema"]
	path = vim/.vim/bundle/vim-pajema
	url = https://github.com/alexconst/vim-pajema
	branch = master
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/alexconst/vim-colors-solarized
	branch = master

################################################################
# tmux
################################################################
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
	branch = master
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
	branch = master
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
	branch = master
[submodule "tmux/.tmux/plugins/tmux-open"]
	path = tmux/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
	branch = master
[submodule "tmux/.tmux/plugins/tmux-powerline"]
	path = tmux/.tmux/plugins/tmux-powerline
	url = https://github.com/erikw/tmux-powerline
	branch = master
[submodule "tmux/.tmux/plugins/tmux-mem-cpu-load"]
	path = tmux/.tmux/plugins/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load
	branch = master



