[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
[submodule "vim/.vim/bundle/tabline.vim"]
	path = vim/.vim/bundle/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
	branch = master
[submodule "vim/.vim/bundle/vim-plugin-AnsiEsc"]
	path = vim/.vim/bundle/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
	branch = master
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k

[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = ssh://softserve/vim-colors-solarized
	branch = develop
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = ssh://softserve/vim-markdown
	branch = feat/toc_location
[submodule "vim/.vim/bundle/vim-pajema"]
	path = vim/.vim/bundle/vim-pajema
	url = ssh://softserve/vim-pajema
	branch = master

