! NOTE:
!   - to use these settings either run `xrdb -load ~/.Xresources` to set them as is, or run `xrdb -merge ~/.Xresources` to merge and update existing
!   - to check for syntax errors: `xrdb -n ~/.Xresources 2>&1 >/dev/null`
!   - to access xterm menus: hold ctrl and click (left, middle, right) mouse button

#include ".Xresources.d/colors"
#include ".Xresources.d/fonts"
#include ".Xresources.d/xterm"
#include ".Xresources.d/rxvt"
! #include ".Xresources.d/xscreensaver"


